FLASK_CONFIG=development
SECRET_KEY=
DATABASE_URL=sqlite:///amh_library.db
ADMIN_EMAIL=amhartificialmindhub@gmail.com
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=amhartificialmindhub@gmail.com
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=amhartificialmindhub@gmail.com
